/.phpunit.cache
/.fleet
/.idea
/.vscode
/.zed

/node_modules
/vendor

/public/*
!/public/.htaccess
!/public/index.php
!/public/puqcloud/
!/public/puqcloud/**

/storage/*.key

.env
.env.backup
.env.production

/modules/Product/*
!/modules/Product/puqNextcloud/
!/modules/Product/puqNextcloud/**
!/modules/Product/puqProxmox/
!/modules/Product/puqProxmox/**
!/modules/Product/puqSampleProduct/
!/modules/Product/puqSampleProduct/**
